doctype html
html
  head
    style
        include index.css
          
    //- link(rel='stylesheet', type='text/css', href='index.css')
  body 
    .content
      .img
      #point.point
    p#style.left #{x}
    p#style.bottom #{y}
    script.
        console.log('script called');
        console.log('x: '+!{x});
        console.log(document.getElementById("point"));
        document.getElementById("point").style.left = !{x} + "px";
        document.getElementById("point").style.top = !{y} + "px"; 
    //- script
    //-   include ../app.js

